<!--  site scripts  
http://cdnjs.com
  -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Chat Bot</title>

    </head>
    <body>
    <h1>Chat ao vivo</h1>
    <div id="mensagens">
       <p>Manoel: olá</p>
       <p>lidio: salve</p>
       <p>gosalan: coe</p>
       <p>santos: de boas</p>
    </div>
    
    <input type="text" id="usuario" placeholder="Usuario" />
    <input type="text" id="mensagem" placeholder="Digite sua mensagem" />
    <button id="btn_enviar">Enviar</button>

    <!--script em js-->
    <script type="text/javascript" >

    </script>


</body>
</html>
